<h1>Password Forgotten</h1>

<form method='get' action='/users/resetCheck'>

    <div>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" size="30" autocomplete="off" />
    </div>

    <div>
        <input type="submit" value="Reset Password" />
    </div>

</form>
