
<div class="wideRow">
<label for="textTip"  class="itemNarrow">Tip:</label>
<input type="text" class="itemWide" id="textTip" name="text" value="<%= tip.text %>" placeholder="Texto" autocomplete="off"/>
</div>


<br/>
<a href="/goback" class="button">Cancel</a>

<input type="submit" value="Save">
