
<h1>
Quizzes throught time.
</h1>

<canvas id="quizzesChart" height=80%   =></canvas>


<input type="hidden" id="graphQuizzes" value= <%= quizzes %>>
<input type="hidden" id="graphFechas" value=<%= fechas %>  >


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>

<script>
const fechas=JSON.parse(document.getElementById('graphFechas').value);
const quizzes=JSON.parse(document.getElementById('graphQuizzes').value);


var ctx = document.getElementById('quizzesChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: fechas,
        datasets: [{
            label: 'Quizzes',
            data: quizzes,
            

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>